<div class="cc_breadcrumbs">
    <div class="row">
        <div class="cc_breadcrumb"><a href="#dashboard">dashboard</a></div>
        <div class="cc_breadcrumb"><a href="#profile">my account</a></div>
        <div class="cc_breadcrumb">Feedback</div>
    </div>
</div>
<div class="cc_content cc_profile_pages">
    <div class="row">
        <div class="nine columns">
            <h1>Feedback</h1>

            <p>Thanks for taking the time to provide a suggestion. Your feedback helps us make Compucram better.</p>
        </div>
        <div class="three columns"></div>
    </div>
</div>