<div class="cc_breadcrumbs">
    <div class="row">
        <div class="cc_breadcrumb"><a href="#dashboard">dashboard</a></div>
        <div class="cc_breadcrumb">Simulated Exam</div>
    </div>
</div>
<div class="row cc_study">
    <div class="nine columns">
        <app-question-box [progress]="progress" [question]="question" [terms]="glossaryTerms" [config]="directiveConfig"
            (callbackCheck)="check($event)" (callbackNext)="next()" (callbackBookmark)="bookmark()">
        </app-question-box>
    </div>
    <div class="three columns session_options">
        <div class="cc_red btn">
            <button (click)="save()">Save &amp; Exit</button>
        </div>
        <div class="exam_countdown">
            <div class="countdown_label">Time Left</div>
            <countdown #cd class="countdown_timer" [config]="{leftTime: exam.examTime - attempt.totalTime}" (event)="handletTimerEvent($event)"></countdown>
        </div>
        <app-calculator></app-calculator>
    </div>
</div>