<div class='cc_wrapper cc_login_back'>
    <div>
        <div class="cc_login_container">
            <div class="cc_logo"></div>
            <form name="form" novalidate class="login-form">
                <div class="cc_login_box" [formGroup]="updatePwdFormGroup">
                    <h1>Update Password</h1>

                    <p>Please enter a new password below.</p>

                    <div class="field"><input class="input" placeholder="Email Address" [formControlName]="'email'" type="email" readonly /></div>
                    <div class="field"><input class="input" placeholder="New Password" [formControlName]="'password'" type="password" autofocus /></div>
                    <div class="field"><input type="hidden" [formControlName]="'code'"/></div>

                    <div class="cc_error" [hidden]="!(authError.length>0)">
                        {{authError}}
                    </div>
                    <div class="cc_red btn">
                        <button (click)="update()" [disabled]='!updatePwdFormGroup.valid'>Submit</button>
                    </div>
                </div>
            </form>
            <div class="cc_login_footer">
                <p><i class="icon-info-circled"></i>Questions? We can help. <a href=""
                        (click)="goToMarketingSupportSite()">Contact
                        Customer Service</a></p>
            </div>
            <div class="cc_login_legal">&copy; {{ '' | currentYear }} CompuCram. All Rights Reserved</div>
        </div>
    </div>
</div>